@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
.scroll-offset {
  scroll-margin-top: 5rem; /* Adjust to your fixed navbar height */
}
html, body {
  margin: 0;
  padding: 0;
	overflow-x: hidden;
  /* background-color: #dcfce7; */
}

